<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h2>Categories</h2>
    <form action="/new-category" method="GET">
      <button>Add Category</button>
    </form>
    <% if(categories.length > 0){ %> <% categories.map(c=>{ %>
    <a href="/category/<%= c.cat_name %>"><%= c.cat_name %></a>
    <% }) }%>
    <form action="/products" method="GET">
      <button class="btnViewProducts">Products</button>
    </form>
  </body>
</html>
