<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add product</title>
  </head>
  <body>
    <%- include("./components/common", {btns: false}) %>
    <h1>Add product</h1>
    <form
      action="/products/new-product"
      method="POST"
      enctype="multipart/form-data"
    >
      <label for="name">Name: </label>
      <input type="text" id="name" name="name" />
      <label for="price">Price: </label>
      <input type="number" name="price" id="price" />
      <label for="stock">Stock: </label>
      <input type="number" name="stock" id="stock" />
      <label for="category">Category: </label>
      <select name="category" id="category">
        <% if(categories.length > 0){ %> <% categories.map(c=>{ %>
        <option value="<%= c.cat_name %>"><%= c.cat_name %></option>
        <% }) }%>
      </select>
      <label for="image">Upload image</label>
      <input type="file" name="image" id="image" accept="image/*" required />
      <button>Submit</button>
    </form>
  </body>
</html>
